.titleFont {
  text-align: left;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  line-height: 1rem;
  color: #222222;
  padding-bottom: 2px;
}

.titleFontCardFilter {
  text-align: left;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #222222ef;
  padding-bottom:8px;
}

.titleFontCardFilter:hover{
  color: black;
}