.filtersContainer {
  display: flex;
  flex-direction: row;
  width: 93px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 8px;
  background-color: transparent;
  margin: 18px;
  padding: 4px;
  box-sizing: border-box;
}

.filtersContainer > button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.filterLayout {
  position: relative;
  width: 780px;
  max-height: 839px;
  display: flex;
  flex-direction: column;
  overflow: clip;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  background-color: white;
  box-sizing: border-box;
}
.verticalEnds {
  width: 100%;
  height: 66px;
  box-sizing: border-box;
  flex-shrink: 0;
}
.filterComponents {
  display: block;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}
.aboveScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
