.propertiesContainer{
  width: 100%;
  height: 268px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  box-sizing: border-box;
  border-top: 1px solid #DDD;
}

.propertyCardsRow{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}